.add_instrument {
    display: block; /* Display as inline-block to allow horizontal centering */
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Padding for button */
    border-radius: 5px; /* Border radius for rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .add_instrument:hover {
    background-color: #0056b3; /* Darker background color on hover */
  }
  
  .main_body {
    text-align: center; /* Center align content horizontally */
  }
  
  .items_page {
    display: inline-block; /* Prevent stretching to full width */
    text-align: left; /* Reset text alignment for items */
  }